<!-- EDIT STANDARD PAGE -->

<!-- LEFT-NAVIGATION -->
<app-left-navigation [isOffcanvas]="isOffcanvas"></app-left-navigation>

<div class="page-container edit-standard-page" [class.is-offcanvas]="isOffcanvas['value']">

  <!-- HEADER -->
  <div class="header-wrapper">
    <app-header l10n-title title="csIssues.edit" pageType="edit-cs-issue">
    </app-header>
  </div>

  <!-- MAIN -->
  <main class="main-content">
    <div class="edit-cns-issue-wrapper">
      <div class="thumbnail">
        <ul>
          <li><a [routerLink]="['/c-s-issues']" class="current links">C&S Issues > </a></li>
          <li><span class="links">Edit C&S Issue</span></li>
        </ul>
      </div>
      <app-data-input-forms [activeTab]="activeTab" (sendModalData)="sendModalData($event)"></app-data-input-forms>
    </div>
  </main>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
<app-model (close)="isOpenModal=$event" *ngIf="isOpenModal" [modalType]="modalType" [modalProperties]="modalProperties"></app-model>
<!-- DATA INPUT PAGE END -->