// create cns-issue  PAGE
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  // create-cns-issue-wrapper
  .create-cns-issue-wrapper {
    padding: 27px 20px 0 20px;
  }